body {
  background-color: #fffbe6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cat {
  position: relative;
  width: 200px;
  height: 200px;
}

.face {
  width: 100%;
  height: 100%;
  background-color: #f9c4d2;
  border-radius: 50%;
  position: relative;
  z-index: 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.ear {
  width: 60px;
  height: 60px;
  background-color: #f9c4d2;
  position: absolute;
  top: -20px;
  border-radius: 50% 50% 0 0;

  z-index: 1;
}

.ear.left {
  left: 0;
  transform: rotate(-45deg);
}

.ear.right {
  transform: rotate(45deg);
  right: 0;
}

.eye {
  width: 20px;
  height: 20px;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  top: 60px;
}

.eye.left {
  left: 50px;
}

.eye.right {
  right: 50px;
}

.nose {
  width: 16px;
  height: 16px;
  background-color: #d46a6a;
  position: absolute;
  top: 100px;
  left: 100px;
  transform: translateX(-50%);
  border-radius: 50%;
}

.whisker {
  width: 60px;
  height: 3px;
  background-color: #555;
  position: absolute;
  top: 105px;
}

.wh2 {
  width: 60px;
  height: 2px;
  background-color: #555;
  position: absolute;
  top: 150px;
  transform: rotate(30deg);
}

.wh3 {
  width: 60px;
  height: 2px;
  background-color: #555;
  position: absolute;
  top: 60px;
  transform: rotate(30deg);
}
.wh2.l {
  left: 190px;
}

.wh2.r {
  left: -50px;
  transform: rotate(-30deg);
}

.wh3.l {
  left: 193px;
  transform: rotate(-30deg);
}

.wh3.r {
  left: -53px;
}
.whisker.left {
  left: -60px;
}

.whisker.left2 {
  left: -60px;
}

.whisker.right {
  right: -60px;
}

.cbody {
  width: 300px;
  height: 150px;
  background-color: #f9c4d2;
  position: relative;
  left: 100px;
  top: -100px;
  z-index: -1;
  border-radius: 40%;
}

.clgf {
  width: 25px;
  height: 120px;
  background-color: pink;
  border-radius: 20%;
  position: absolute;
  top: 250px;
}
