body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, skyblue, cyan);
  display: flex;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background-color: orange;
  z-index: 1;
  text-align: center;
}
nav {
  position: sticky;
  top: 100px;
  background-color: yellow;
  color: black;
  border-radius: 10px;
  width: 200px;
  height: 150px;
  padding: 20px;
  margin: 5px;
}

main {
  display: flex;
  gap: 30px;
  padding: 30px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px;
  margin-top: 100px; /* header 높이만큼 띄움 */
  min-width: 1600px;
}
.card {
  background-color: white;
  margin: 5px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  width: 400px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 555;
}

.card:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

img {
  display: flex;
  max-width: 200px;
  max-height: 200px;
  border-radius: 10px;
  position: relative;
  right: -200px;
}

.profile-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}
.name {
  display: flex;
  position: relative;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}

.btn {
  width: 200px;
  background-color: navy; /* 배경색 네이비 */
  color: white; /* 글자색 흰색 */
  border-radius: 10px; /* 버튼 모서리 둥글게 */
  padding: 12px 24px; /* 상하 12px, 좌우 24px 여백 */
  font-size: 16px; /* 글자 크기 16px */
  cursor: pointer; /* 마우스 커서를 포인터로 */
  border: none; /* 테두리 제거 */
  transition: all 0.3s; /* 모든 변화에 1초 애니메이션 적용 */
}

.btn:hover {
  background-color: skyblue; /* 마우스 올리면 배경색 변경 */
  color: black; /* 글자색도 변경 */
}

@media screen and (max-width: 768px) {
  .card-container {
    flex-direction: column; /* 세로 정렬 */
    align-items: center;
  }

  .card {
    width: 90%; /* 모바일 화면에서는 너비 90%로 */
    height: auto;
  }
}
